@import url('https://fonts.googleapis.com/css2?family=Suranna&display=swap');
@import url('https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&display=swap');
:root{
    --bg : black;
    --color : white;
   }
   /* 
   ASTN040013292024 
   <a class="viewCnrDetails btn accent-color" href="javascript:void(0);" aria-label="View Case Details" data-cno="ASTN040013292024">View </a>
   https://tinsukia.dcourts.gov.in/wp-admin/admin-ajax.php
   */